<% if !Post.blank? %>
<% Post.all.each do |p| %>
<div style="border-bottom: 2px solid #000000"><h3><%= p.title %></h3>
<p><%= link_to(p.url, '/uslugi/'+p.url) %>
  <div><%= link_to('Редактировать', p.url+'/edit', class: "btn btn-primary") %>    <%= link_to "Удалить", p, method: :delete, class: "btn btn-danger",
                                                                                          data: { confirm: "Удалить?"} %> </div>
  </p>
</div>
<% end %>
<% else %>
Постов нет!
<%= link_to('Добавить', posts_new_url) %>
<% end %>